@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap');

body{
    background-color: rgb(224, 224, 224);
    font-family:'Lato', sans-serif;;
}
.container{
    width: 320px;
    height: 500px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding:30px 20px;
    margin: 30px auto;
    box-shadow:5px 5px 10px  rgb(193, 193, 193),
            -5px -5px 10px  rgb(255,255,255);
}

.container .result-box{
    width:100%;
    height: 80px;
    background-color:  rgb(224,224,224);
    border-radius:20px;
    box-shadow: 5px 5px 10px rgb(193, 193, 193),
            -5px -5px 10px rgb(255, 255, 255);
}

.container .result-box p {
    font-size: 2em;
    text-align: right;
    padding-right: 10px;
    overflow-y:auto;
    color: black;
}

.container .buttons {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap:1.5em;
}

.container .buttons .button {
    width: 60px;
    height: 50px;
    font-size: 1.2em;
    cursor:grab;
    text-align: center;
    color: black;
    background-color: rgb(224,224,224);
    border-radius: 15px;
    display: grid;
    box-shadow: 5px 5px 10px rgb(193, 193, 193),
            -5px -5px 10px rgb(255, 255, 255);
    place-content:center;
}

.container .buttons .button:hover{
    color:dodgerblue;
    background-color:rgb(240, 237, 237);
    border-radius:18px;
    box-shadow: 5px 5px 15px rgb(237, 203, 203),
              -5px -5px 15px rgb(227, 204, 204);
}

.container .buttons .zero{
    grid-column:1/3 ;
    width: 100%;
    font-size: 1.4em;
    color: black;
}

.container .buttons .action{
    color: rgb(106, 106, 106);
}

.container .buttons .operator{
    font-weight:bold;
    font-size: 1.5em;
}

.container .buttons .delete:hover{
    color: red;
}
